/* BASE VARIABLES
 *******************/

/* Sizes */
$width: 100%;
//$width-outer: 1280px;
$width-outer: 1028px;

/* Colors */
$text: #555;
$links: #000;
$hover: #939598;

$headings: #497fb9;

$bg: #FFF;

/* Fonts */
$main: Georgia, serif;
$heading: 'Lato', sans-serif;

/* Borders */
$border: 1px solid $hover;