@import "home";

.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

.bio-left {
	float: left;
	padding-right: 2%;
	@include respond-to(handhelds) { float: none; padding-right: 0; }
	@include respond-to(tablets) { float: none; padding-right: 0; }	
	@include respond-to(medium-screens) { float: left; padding-right: 2%; }
	@include respond-to(wide-screens) { float: left; padding-right: 2%; }
}
.bio-right {
	float: right;
	padding-left: 2%;
	@include respond-to(handhelds) { float: none; padding-left: 0; }
	@include respond-to(tablets) { float: none; padding-left: 0; }	
	@include respond-to(medium-screens) { float: right; padding-left: 2%; }
	@include respond-to(wide-screens) { float: right; padding-left: 2%; }	
}
.bio-left,
.bio-right {
	img {
		max-width: 100%,
	}
	width: 48%;	
	@include respond-to(handhelds) { width: 100%; }
	@include respond-to(tablets) { width: 100%; }
	@include respond-to(medium-screens) { width: 48%; }
	@include respond-to(wide-screens) { width: 48%; }
}