@import "home";

.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}
.partners {
	float: left;
	@include respond-to(handhelds) { width: 100%; }
	@include respond-to(tablets) { width: 50%; }	
	@include respond-to(medium-screens) { width: 25%; }
	@include respond-to(wide-screens) { width: 25%; }
	img, h4, p {
		padding: 0 15px;
	}
	h4 {
		@include respond-to(handhelds) { font-size: 26px; }
		@include respond-to(tablets) { font-size: 26px; }	
		@include respond-to(medium-screens) { font-size: 18px; }
		@include respond-to(wide-screens) { font-size: 26px; }
	}
	p {
		text-align: left;
	}
}
