#container {
	
}
#grid {
	margin: 0 auto;
	width: 100%;
	max-width: 1028px;
	overflow: hidden;
}
.item {
	float: left;
	margin: 0 auto 10px auto;
	text-align: center;
	@include respond-to(handhelds) { width: 300px; }
    @include respond-to(tablets) { width: 100%; }
    @include respond-to(medium-screens) { width: 485.5px; }
    @include respond-to(wide-screens) { width: 485.5px; }
}
.wide {
	width: 100%;
	@include respond-to(handhelds) { width: 300px; }
    @include respond-to(tablets) { width: 100%; }
    @include respond-to(medium-screens) { width: 100%; }
    @include respond-to(wide-screens) { width: 100%; }
}
.textbox {
	height: 286px;
	background-color: #ddd;
	color: #000;
	margin-bottom: 10px;
	float: left;
	p {
		padding: 15% 10%;
		margin-bottom: 0;
	}
}