#container {
	
}
@include respond-to(handhelds) { 
	#grid {
		width: 100%; 
		max-width: 320px; 
	}
	.item {

	}
	.item.left {

	}
	.item.right {

	}
	.wide {

	}
	.textbox {

	}
}
@include respond-to(tablets) { 
	#grid {
		width: 100%; 
		max-width: 768px; 
	}
	.item {

	}
	.item.left {

	}
	.item.right {

	}
	.wide {

	}
	.textbox {
		
	}	
}
@include respond-to(medium-screens) { 
	#grid {	
		width: 715px; 
		max-width: 1028px;
	}
	.item {

	}
	.item.left {

	}
	.item.right {

	}
	.wide {

	}
	.textbox {
		
	}
}
@include respond-to(wide-screens) { 
	#grid {
		width: 100%; 
		max-width: 1028px;
	}
	.item {

	}
	.item.left {

	}
	.item.right {

	}
	.wide {

	}
	.textbox {
		
	}	
}

#grid {
	margin: 0 auto;
	overflow: hidden;
}
.item {
	margin-bottom: 10px;
	text-align: center;
	@include respond-to(handhelds) { width: 300px; float: none; }
    @include respond-to(tablets) { width: 400px; float: none; }
    @include respond-to(medium-screens) { width: 350px; float: left; }
    @include respond-to(wide-screens) { width: 485.5px; float: left; }
}
.item.left {
	@include respond-to(handhelds) { margin-right: auto; }
    @include respond-to(tablets) { margin-right: auto; }
    @include respond-to(medium-screens) { margin-right: 7.5px; }
    @include respond-to(wide-screens) { margin-right: 7.5px; }
}
.item.right {
	@include respond-to(handhelds) { margin-left: auto; }
    @include respond-to(tablets) { margin-left: auto; }
    @include respond-to(medium-screens) { margin-left: 7.5px; }
    @include respond-to(wide-screens) { margin-left: 7.5px; }	
}
.wide {
	width: 100%;
	@include respond-to(handhelds) { width: 300px; }
    @include respond-to(tablets) { width: 400px; }
    @include respond-to(medium-screens) { width: 714px; }
    @include respond-to(wide-screens) { width: 100%; }
}
.textbox {
	background-color: #ddd;
	color: #000;
	margin-bottom: 10px;
	float: left;
	p {
		padding: 10%;
		margin-bottom: 0;
		@include vertical-align;
		line-height: 1.25em;
		@include respond-to(handhelds) { font-size: 20px; }
    	@include respond-to(tablets) { font-size: 22px; }
	}
	@include respond-to(handhelds) { margin-left: auto; height: 202px; float: none; }
    @include respond-to(tablets) { margin-left: auto; height: 202px; float: none; }
    @include respond-to(medium-screens) { margin-left: 7.5px; height: 202px; float: left; }
    @include respond-to(wide-screens) { margin-left: 7.5px; height: 286px; float: left; }	
}