.widget {
	margin: 0;
	padding: 0 0 20px;
}
.widget-footer {
	margin: 0;
	padding: 0 0 20px;
	float: left;
	width: 33%;
	@include respond-to(handhelds) { width: 100%; }
	@include respond-to(tablets) { width: 100%; }
	@include respond-to(medium-screens) { width: 100%; }
	@include respond-to(wide-screens) { width: 33%; }

}
.widget-title {
	color: $text;
	text-align: left;
}
.widget ul {
	margin: 0;
	list-style: none;
	li {
		margin-left: 1.5em;
	}
}

/* Special Classes */
.no-border {
	border-bottom: none;
	margin-bottom: 0;
	padding:  0;
}

/* Search Widget */
.widget_search {
	form {
		margin: 0 0 10px;
	}
	#s {
		width: 95%;
		display: inline-block;
	}
}